<?xml version="1.0" encoding="utf-8"?><!--
  ~ *******************************************************************
  ~ * Copyright (c)  2018
  ~ * project_name:ECI6005A_AND_APP_V1
  ~ * 创建时间：18-3-19 下午5:55
  ~ * 作者：Administrator
  ~ * 四川翊晟芯科信息技术有限公司
  ~ * 版权所有 违法必究
  ~ *******************************************************************
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eci.eci6005a">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher_ss"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GattDetailActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ShareActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LineChartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>


</manifest>